.staySection {
  height: auto;
  padding: 5vh 0;
  width: 100%;
}

.stayContainer {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.stay {
  height: 50%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  position: absolute;
}

.titleBox {
  width: 100%;
  object-fit: cover;
  display: block;
}

.viewButton {
  background-color: var(--sectionDescriptionButton-color);
  color: var(--whiteFont-color);
  width: 80%;
  height: 80px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 3rem;
}

@media (min-width: 1024px) {
  .staySection {
    width: 100%;
  }
  
  .stayContainer {
    max-width: 1024px;
    margin: 3vh auto;
  }
  
  .stay {
    max-width: 1024px;
    height: 60vh;
    border-radius: 50px;
  }

  .titleBox{
    width: 500px;
  }
}
