.page{
    width: 100%;
    height: 30vh;

    .outlet{
        background-color: orange;
        padding: 40px 20px;
        color: #fff;
    }
}

/* .welcomeMSG{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 25px;
} */