.burgerMenu {
  color: var(--whiteFont-color);
  background-color: var(--sectionNavigation-color);
  font-size: 200%;
  z-index: 999;
  cursor: pointer;
  position: relative;
  width: 75px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burgerMenu:hover {
  color: var(--blackFont-color);
}

.nav {
  display: none;
}

.show {
  display: grid;
  place-content: center;
  text-align: center;
  gap: 2rem;
  width: 100%;
  height: 100vh;
  background-color: var(--sectionShowNavigation-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 990;
  color: var(--whiteFont-color);
}

.bmIcon {
  z-index: 999;
}

.nav a {
  font-size: 3rem;
  color: var(--whiteFont-color);
  text-decoration: none;
}

.nav a:hover {
  color: #f0f0f0;
}

.active {
  font-weight: bold;
}
